apiVersion: v1
kind: Service
metadata:
  name: quotes-api-service
  namespace: demo
spec:
  selector:
    app: quotes-api
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
  type: LoadBalancer
